/* 
    Document   : invincible
    Created on : Sep 24, 2013, 11:05:07 AM
    Author     : ujjal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#about{
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    line-height: 23px;
   text-shadow: 1px 1px 0 #fff, 2px 2px 0 #d9d9d9;
   font-size: 17px;
}

#main{
    margin: 0 auto;
    width:100%;
}


#content{
   min-height:300px;
}


footer{
    background:url(../images/footer-bg.png) top left repeat;
    height:220px;
    margin-top:20px;
    font-size: 13px;
    background-color:  #4D8F7C;
    
}

#footer-content{
    width:940px;
    padding:10px;
    margin:0 auto;
    
}

footer ul a:link{
    color:white;
    text-decoration:none;
}
footer ul a:visited{
    color:white;
    text-decoration:none;
}
footer ul a:hover{
    color:white;
    text-decoration:none;
}
footer ul a:active{
    color:white;
    text-decoration:none;
}

#footer-logo{
    float:left;
    margin-right:45px;
    margin-left:5px;
}

#copyright{
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 13pt;
font-smooth: always;
text-align: center;
}
#urls{
    float:left;
    width:220px;
    height:180px;
    
    padding:10px;
}
#sponsors{
    float:left;
    width:220px;
    height:180px;
    
    padding:10px;
}

#developers{
    float:left;
    width:220px;
    height:180px;
    
    padding:10px;
}
#share{
    padding:50px;
}
ul{
    list-style-type: none;
    padding:0 !important;
}

